@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    section#login {
        width: 20vw;
        height: 20vh;
    }

    div#img {
        float: left;
        width: 40%;
        height: 100%;
        background-position: left bottom;
        background-size: cover;
    }

    div#form {
        float: right;
        width: 60%;
        height: 100%;        
    }
}

@media screen and (min-width:992px) {
    section#login {
        width: 900px;
    }

    div#img {
        float: right;
        width: 50%;
        height: 100%;

    }

    div#form {
        float: left;
        width: 50%;
        height: 100%;
    }
}